

<h1 align="center">关于我</h1>


<div id="article-content">

	<%- page.content %>

<img src= "http://api.muvip.cn//api/bing/index.php?rand=false&day=0&size=1920x1080&info=false" height="100px">

</div>



<script type="text/javascript"> 
	document.getElementById('footer').remove();
</script>