
<%# 路径/categories/linux/会跳转到archive界面，不同于tags页面中/tags/vim/还是跳转到tags布局页面 %>


<h1 id="article-title">
	<i class="fa fa-folder-open" aria-hidden="true"></i>分类
</h1>
<h2 id="article-title">
	目前共计 <%- site.categories.data.length %> 个分类
</h2>

<div id="article-content">
	<ul>
      <% for (var j=0; j < site.categories.data.length; j++) { %>
          <% if (site.categories.data[j] && site.categories.data[j].name) { %>
            <li class="menu-item">
                <span>
                    <a href="<%- url_for(site.categories.data[j].path) %>"><%- site.categories.data[j].name %>(<%- site.categories.data[j].length %>)</a>
                </span>
            </li>
          <% } %>
      <% } %>
	</ul>
</div>