<% page.posts.each((post) => { %>
  <a class="link-unstyled" href="<%- url_for(post.link) %>">
    <%= post.title %>
  </a>
  <br>
  <a class="link-unstyled" href="<%- url_for(post.path) %>">
      <%- strip_html(post.content).substring(0, 100) %> ...
  </a>
<% }) %>
