

<% if (is_post()){ %>

<div id="toc">
<h2 class="post-toc-title">Contents</h2>
<div class="post-toc-content always-active">
	<nav id="TableOfContents">
		<ul>
		</ul>
	</nav>
</div>
</div>
<% } %>

<script>



</script>
